<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/feed.xml"
		rel="alternate"
		title="Luke Hansford"
		type="application/atom+xml">

		<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/font-awesome-4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/main.css">
	    <title>Luke Hansford - {{ page.title }}</title>
	</head>
	<body>
		<div class="container">
			<header>
				<div class="page-title">
					<h1><a href="/" rel="author" class="p-author h-card">Luke Hansford</a></h2>
				</div>
					<nav>
						<ul>
							<li><a href="/posts">Blog</a></li>
							<li><a href="/photos">Photos</a></li>
							<li><a href="/music">Music</a></li>
							<li><a href="/projects">Projects</a></li>
							<li><a href="/reading-list">What I'm Reading</a></li>
							<li><a href="/stockholm">Stockholm Restaurants</a></li>
							<li><a target="_blank" href="/files/resume_luke_hansford_jan_2018.pdf">Résumé</a></li>
						</ul>
					</nav>
				</header>
				<div class="content">
