{{!< layout.hbs }}
<h2>Hey, I'm Luke</h2>
<p>I'm a mobile and web developer based in Singapore.</p>
<p>I'm also the host of the music podcast
  <a href="https://frequency.asia">Frequency Asia</a>, co-founder of
  independent music label/magzine
  <a href="http://jingweir.tumblr.com/">Jingweir</a>, and
  <a href="https://soundcloud.com/dallol">intermittent musician</a>.
</p>
<p>The best way to contact me is via
  <a href="mailto:l.s.hansford@gmail.com">email</a>, but feel free to connect
  with me through <a href="https://twitter.com/lukehansford">Twitter</a>,
  <a href="https://github.com/lhansford">Github</a>,
  <a href="https://bandcamp.com/frequencyasia">Bandcamp</a>, or
  <a href="https://soundcloud.com/dallol">Soundcloud</a>.
</p>