<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/feed.xml"
		rel="alternate"
		title="Luke Hansford"
		type="application/atom+xml">

		<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/font-awesome-4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/main.css">
	    <title>Luke Hansford - {{ page.title }}</title>
	</head>
	<body>
		<div class="container">
			<header>
				<div class="title">
					<h1><a href="/" rel="author" class="p-author h-card">Luke Hansford</a></h2>
				</div>
					<nav>
						<ul>
							<li><a href="/posts.html">Blog</a></li>
							<li><a href="/photos.html">Photos</a></li>
							<li><a href="/music.html">Music</a></li>
							<li><a href="/projects.html">Projects</a></li>
							<li><a href="/reading-list.html">What I'm Reading</a></li>
							<li><a target="_blank" href="/files/resume_luke_hansford_jan_2018.pdf">Résumé</a></li>
						</ul>
					</nav>
				</header>
				<div class="content">
					{{{ body }}}
				</div>
				<footer>
					<div class="footer">
						<a href="http://twitter.com/lukehansford" rel="me"><i class="fa fa-twitter fa-3x"></i></a>
						<a href="http://github.com/lhansford" rel="me"><i class="fa fa-github fa-3x"></i></a>
						<a href="http://soundcloud.com/dallol"><i class="fa fa-soundcloud fa-3x"></i></a>
						<a href="/feed.xml"><i class="fa fa-rss fa-3x"></i></a>
					</div>
					<div class="h-card">
						<p style="margin: 0; text-align: center; font-size: 12px;">
							<a class="p-name u-url" href="http://lukehansford.me">Luke Hansford</a>
						</p>
						<p style="margin: 0; text-align: center; font-size: 12px;">
							<a class="u-email" href="mailto:mail@lukehansford.me">mail@lukehansford.me</a>
						</p>
						<p style="margin: 0; text-align: center; font-size: 10px;">
							<span class="p-locality">Stockholm</span>, 
							<span class="p-country-name">Sweden</span>
						</p>
						<p style="text-align: center; font-size: 10px;">
							<a href="https://github.com/lhansford/lukehansford.me">View the source code for this blog on GitHub.</a>
						</p>
					</div>
				</footer>
			</div>
	</body>
</html>