{{!< layout.hbs }}
<h2>Dallol</h2>
<a href="https://soundcloud.com/dallol">Soundcloud</a>

<h2>Trig</h2>
<a href="https://soundcloud.com/trigsound">Soundcloud</a>
<a href="https://www.youtube.com/channel/UCVV9_vidM2hGWTtiexBL0dw">Youtube</a>