{{!< layout.hbs }}
<h2>Dallol</h2>
<p>Experimental, computer based music.</p>
<ul>
  <li><a href="https://soundcloud.com/dallol">Soundcloud</a></li>
</ul>

<h2>Trig</h2>
<p>More beat driven work, for the most part made on modular synthesizers.</p>
<ul>
  <li><a href="https://www.youtube.com/channel/UCVV9_vidM2hGWTtiexBL0dw">Youtube</a></li>
  <li><a href="https://soundcloud.com/trigsound">Soundcloud</a></li>
</ul>