{{!< layout.hbs }}
<h2>Dallol</h2>
<p>I'm a Singapore based web developer at <a href="https://klinify.com">Klinify</a>.</p>

<h2>Trig</h2>
<p>I'm a Singapore based web developer at <a href="https://klinify.com">Klinify</a>.</p>