{{!< layout.hbs }}
<ul class="c-photo-grid">
	{{#each photos}}
		<li>
      <a href="/photos/{{ title }}/">
        <img class="c-photo-grid__image" src="{{ this.metadata.thumbnail }}" />
      </a>
    </li>
	{{/each}}
</ul>