{{!< layout.hbs }}
<ul class="c-photo-grid">
	{{#each photos}}
		<li>
      <a href="/photos/{{ title }}/">
        {{#if (isImage this.metadata.thumbnail)}}
          <img class="c-photo-grid__image" src="{{ this.metadata.thumbnail }}" />
        {{else}}
          <video class="c-photo-grid__image" src="{{ this.metadata.thumbnail }}" />
        {{/if}}
      </a>
    </li>
	{{/each}}
</ul>